<?xml version="1.0" encoding="utf-8"?>
<manifest android:targetSandboxVersion="2"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="amsi.dei.estg.ipleiria.snakrestaurant">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.SnakRestaurant">
        <activity
            android:name=".controllers.profile.DetalhePurchasesActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.puchases.PurchasesActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.Products.Detalhe_produto"
            android:exported="true" />
        <activity
            android:name=".controllers.Products.List_pagamentos"
            android:exported="true" />
        <activity
            android:name=".main_application.MainMenuActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"/>
        <activity
            android:name=".PresentationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>